
body {
    min-width: 548px;
}

main, footer {
    font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke;
    flex-direction: column;
}

.text-center {
    text-align: center !important;
    padding: 1.5rem;
}
.card{
    display: block;
}
#accordion .card{
    background-color: dimgray;
}

#accordion .card button{
    color: black;
}





#mainBG img {

    margin-top: 200px;
    border-radius: 10%;
    text-align: center;
    width: 672px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;

}

.alert-primary {
    font-size: 20px;
}


.main_text p{
    font-size: 20px;
}



.wrapper {

    max-width: 42rem;
    display: inline-block;
    margin-left: auto !important;
    margin-right: auto !important;

}

.masthead {
    color: whitesmoke;
    font-size: 19px;
}


.ms-auto {
    margin-bottom: 200px;
}


@media (max-width: 50rem) {
    #mainBG {
        display: block;
        width: 500px;
        height: 500px;
        background-image: url("mainbg.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }


}


@media (min-width: 50rem) {

    .masthead-brand {
        float: left;
        text-align: center !important;
    }

    .nav-masthead {
        float: right;
        margin-top: 85px;
    }

    .wrapper {
        min-width: 42rem;
        display: inline-block;
        margin-left: auto !important;
        margin-right: auto !important;

    }

    .mt-auto {
        margin-top: 200px !important;
    }

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mt-auto {
    margin-top: 200px !important;
}

body {
    background-color: #333;
}


