<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/posture.css">
    <title>management yourself</title>
    <link rel="stylesheet" href="../../../templated-simplified/sql.css">

    <script>
/*
$(document).ready(function(e) {
	$('img[usemap]').rwdImageMaps();

	$('area').on('click', function() {
		alert($(this).attr('alt') + ' clicked');
	});
});
*/
    </script>
</head>


<body class="text-center">
<div class="wrapper mx-auto">


    <header class="masthead ms-auto">
        <div class="inner">
            <a href="main.html"><h3 class="masthead-brand"><img src="../static/logo.jpg"></h3></a>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="posture.html">posture</a>
                <a class="nav-link" href="body%20check.html">body check</a>
                <a class="nav-link" href="daily.html">daily</a>
            </nav>
        </div>
    </header>


    <main>
        <div class="comment">
            <div class="alert alert-dark" role="alert">
                원하는 부위의 운동을 클릭해보세요!
            </div>
        </div>


        <div class="wrapBG">

            <div id="mainBG">


                <img src="../static/mainbg.jpg" usemap="#map">

                <map name="map">
                    <area shape="rect" coords="32,61,170,74" href="https://youtu.be/QzzaWIvAkQI" target="_blank">
                    <area shape="rect" coords="34,80,164,95" href="https://youtu.be/_tDW2WKAH_k" target="_blank">
                    <area shape="rect" coords="12,176,112,191" href="https://youtu.be/EBjYQeeBI-0" target="_blank">
                    <area shape="rect" coords="19,196,70,210" href="https://youtu.be/jj6ze_eqmYI" target="_blank">
                    <area shape="rect" coords="12,216,80,231" href="https://youtu.be/Zq8nRY9P_cM" target="_blank">
                    <area shape="rect" coords="21,317,84,330" href="https://youtu.be/NqSfpsJn8M8" target="_blank">
                    <area shape="rect" coords="18,340,87,355" href="https://youtu.be/H7chkYEglGg" target="_blank">
                    <area shape="rect" coords="16,442,89,462" href="https://youtu.be/9j7vMAge5qU" target="_blank">
                    <area shape="rect" coords="339,42,464,57" href="https://youtu.be/0DsXTSHo3lU" target="_blank">
                    <area shape="rect" coords="339,61,481,75" href="https://youtu.be/xTQL6jvVMNA" target="_blank">
                    <area shape="rect" coords="339,79,395,94" href="https://youtu.be/pQSfXvaQGas" target="_blank">
                    <area shape="rect" coords="338,99,461,116" href="https://youtu.be/6QB6XzaWI3I" target="_blank">
                    <area shape="rect" coords="581,50,735,65" href="https://youtu.be/JyAhfMb3FIw" target="_blank">
                    <area shape="rect" coords="581,69,795,84" href="https://youtu.be/Ia9DYFMkMmU" target="_blank">
                    <area shape="rect" coords="581,89,774,103" href="https://youtu.be/iNgwwI3WBTo" target="_blank">
                    <area shape="rect" coords="675,176,755,190" href="https://youtu.be/kz84Fc6HGu4" target="_blank">
                    <area shape="rect" coords="654,197,774,210" href="https://youtu.be/FQ_A97PMrcQ" target="_blank">
                    <area shape="rect" coords="640,214,790,230" href="https://youtu.be/lyn0U_TFBM4" target="_blank">
                    <area shape="rect" coords="660,315,770,330" href="https://youtu.be/fkuZ-d5BoZ0" target="_blank">
                    <area shape="rect" coords="631,336,787,353" href="https://youtu.be/Gv0GOSL0SQI" target="_blank">
                    <area shape="rect" coords="715,442,784,463" href="https://youtu.be/AXzscCT9YZc" target="_blank">
                </map>
            </div>
        </div>


    </main>

    <footer class="mastfoot mt-auto">
        contact: rh9trl12@naver.com


    </footer>


</div>
